bluelight_frontend/node_modules/
bluelight_frontend/build/
bluelight_api/target/
# macOS & system
.DS_Store
.env
.env.local

# Logs
*.log

# IDE
.idea/
.vscode/
target/
out/
.next/

# Build files
dist/
build/

